<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="IMAGE_PATH" value="C:\Users\teck.yuan.khoo\source\repos\utility\"/>
    <add key="WIDTH" value="1000"/>
    <add key="HEIGHT" value="1000"/>
    <add key="OUTPUT_PATH" value="C:\Users\teck.yuan.khoo\source\repos\utility\output.txt"/>
  </appSettings>
</configuration>